:root {
    --fuente-tokko: 'Nunito Sans';
    --alert: #F4CD00;
    --alertSubtle: #FFF4BD;
    --black: #272E33;
    --primary: #DF1E02;
    --primaryHover: #FD2B0C;
    --primaryPressed: #FD4E34;
    --primaryAccent: #F6D4CF;
    --secondary: #1A4958;
    --secondaryHover: #2D7D97;
    --secondaryPressed: #236377;
    --subtle: #707E86;
    --subtleHover: #4D5B64;
    --subtlePressed: #384248;
    --success: #068B5B;
    --successDark: #00B775;
    --successDarker: #00734A;
    --error: #B21702;
    --backgroundError: #FFF8F6;
    --backgroundError2: #FDDDD8;
    --backgroundErrorRowTable: #FFEDE8;
    --borderRowTable: #FFE0DC;
    --backgroundAlert1: #EEF4FE;
    --backgroundAlert2: #CEE0FC;
    --backgroundCyan2: #ECF0FD;
    --backgroundSuccess: #D9FFF1;
    --darkRedTokko: #A71601;
    --disabled: #C1CCD0;
    --lightBlue: #6A88F2;
    --info: #386DF4;
    --infoAlert: #4268EF;
    --suportText: #1A48EB;
    --inputErrors: #FFF2F0;
    --inputBackground: #F7F8FA;
    --inputPlaceholderColor: #A6B2BA;
    --darkGray: #6D777D;
    --feedback: #048465;
    --tips: #FFD02A;
    --badgeBackgroundSuccess: #9EE4CB;
    --badgeSuccess: #048465;
    --mainButtonText: #49565D;
    --transparent: #00000000;
    --neutralGray1: #384248;
    --neutralGray2: #49565D;
    --neutralGray3: #6F838D;
    --neutralGray4: #94A2AB;
    --neutralGray5: #AEBAC0;
    --neutralGray6: #C9D1D5;
    --neutralGray7: #DDE5E9;
    --neutralGray8: #E4E8EA;
    --neutralGray9: #F3F6F8;
    --white: #FFFFFF;
    --yellow: #FFF502;
    --petrokoPressed: #3188A4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}