.fc .fc-toolbar-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: var(--petroko);
}

.fc .fc-day-today:not(.fc-popover):not(.fc-col-header-cell) {
    background-color: transparent;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border: 1px solid #DDE5DE;
}

.fc .fc-cell-shaded,
.fc .fc-day-disabled {
    background: transparent;
}

.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #485C66;
}

.calendarContainer {
    width: 276px;
    height: 389px;
    border-radius: 12px;
    border: solid 1px black;
    margin: auto;
}

.fc .fc-button-primary {
    box-shadow: none !important;
}