@charset "UTF-8";

@font-face {
  font-family: "tokko";
  src:url("./fonts/tokko-icons/tokko.eot");
  src:url("./fonts/tokko-icons/tokko.eot") format("embedded-opentype"),
    url("./fonts/tokko-icons/tokko.woff") format("woff"),
    url("./fonts/tokko-icons/tokko.ttf") format("truetype"),
    url("./fonts/tokko-icons/tokko.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "tokko" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: bold !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tokko" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acciones:before {
  content: "\61";
}
.icon-adicionales:before {
  content: "\62";
}
.icon-adjuntar:before {
  content: "\63";
}
.icon-agente:before {
  content: "\64";
}
.icon-agregar:before {
  content: "\65";
}
.icon-alerta:before {
  content: "\66";
}
.icon-ambientes:before {
  content: "\67";
}
.icon-appexchange:before {
  content: "\68";
}
.icon-archivos:before {
  content: "\69";
}
.icon-atras:before {
  content: "\6a";
}
.icon-banos:before {
  content: "\6b";
}
.icon-buscar:before {
  content: "\6c";
}
.icon-calendario:before {
  content: "\6d";
}
.icon-cerrar:before {
  content: "\6e";
}
.icon-cerrarmenu:before {
  content: "\6f";
}
.icon-check:before {
  content: "\70";
}
.icon-comparar:before {
  content: "\71";
}
.icon-compartir:before {
  content: "\72";
}
.icon-compra:before {
  content: "\73";
}
.icon-configuracion:before {
  content: "\74";
}
.icon-consultas:before {
  content: "\75";
}
.icon-contacto:before {
  content: "\76";
}
.icon-descargar:before {
  content: "\77";
}
.icon-deshacer:before {
  content: "\78";
}
.icon-deslinkear:before {
  content: "\79";
}
.icon-destaque:before {
  content: "\7a";
}
.icon-difusion:before {
  content: "\41";
}
.icon-disponibilidad:before {
  content: "\42";
}
.icon-dormitorios:before {
  content: "\43";
}
.icon-dropdown:before {
  content: "\44";
}
.icon-dudas:before {
  content: "\45";
}
.icon-editar:before {
  content: "\46";
}
.icon-editarfichainfo:before {
  content: "\47";
}
.icon-editarpropiedad:before {
  content: "\48";
}
.icon-eliminar:before {
  content: "\49";
}
.icon-email:before {
  content: "\4a";
}
.icon-emprendimientos:before {
  content: "\4b";
}
.icon-empresa:before {
  content: "\4c";
}
.icon-enviar:before {
  content: "\4d";
}
.icon-error:before {
  content: "\4e";
}
.icon-estados:before {
  content: "\4f";
}
.icon-etiquetas:before {
  content: "\50";
}
.icon-excel:before {
  content: "\51";
}
.icon-expensas:before {
  content: "\52";
}
.icon-favoritos:before {
  content: "\53";
}
.icon-favoritosvacio:before {
  content: "\54";
}
.icon-filtrar:before {
  content: "\55";
}
.icon-grupocontacto:before {
  content: "\56";
}
.icon-guardar:before {
  content: "\57";
}
.icon-imagenes:before {
  content: "\58";
}
.icon-indeciso:before {
  content: "\59";
}
.icon-info:before {
  content: "\5a";
}
.icon-informacioninterna:before {
  content: "\30";
}
.icon-link:before {
  content: "\31";
}
.icon-medidas:before {
  content: "\32";
}
.icon-megusta:before {
  content: "\33";
}
.icon-menos:before {
  content: "\34";
}
.icon-mensajeabierto:before {
  content: "\35";
}
.icon-menupuntitos:before {
  content: "\36";
}
.icon-minimizar:before {
  content: "\37";
}
.icon-mostrar:before {
  content: "\38";
}
.icon-nomegusta:before {
  content: "\39";
}
.icon-notas:before {
  content: "\21";
}
.icon-noticias:before {
  content: "\22";
}
.icon-notificaciones:before {
  content: "\23";
}
.icon-ocultar:before {
  content: "\24";
}
.icon-oportunidades:before {
  content: "\25";
}
.icon-ordenar:before {
  content: "\26";
}
.icon-pdf:before {
  content: "\27";
}
.icon-pinup:before {
  content: "\28";
}
.icon-propiedades:before {
  content: "\29";
}
.icon-propiedadvalidada:before {
  content: "\2a";
}
.icon-quitardestaque:before {
  content: "\2b";
}
.icon-reasignar:before {
  content: "\2c";
}
.icon-redes:before {
  content: "\2d";
}
.icon-referencias:before {
  content: "\2e";
}
.icon-reloj:before {
  content: "\2f";
}
.icon-reportada:before {
  content: "\3a";
}
.icon-reportar:before {
  content: "\3b";
}
.icon-reportes:before {
  content: "\3c";
}
.icon-reservas:before {
  content: "\3d";
}
.icon-salir:before {
  content: "\3e";
}
.icon-seleccion:before {
  content: "\3f";
}
.icon-selectall:before {
  content: "\40";
}
.icon-servicios:before {
  content: "\5b";
}
.icon-telefono:before {
  content: "\5d";
}
.icon-timeline:before {
  content: "\5e";
}
.icon-tiptokko:before {
  content: "\5f";
}
.icon-toilletes:before {
  content: "\60";
}
.icon-totalconstruido:before {
  content: "\7b";
}
.icon-ubicacin:before {
  content: "\7c";
}
.icon-unificar:before {
  content: "\7d";
}
.icon-video:before {
  content: "\7e";
}
.icon-vista:before {
  content: "\5c";
}
.icon-whatsapp:before {
  content: "\e000";
}
.icon-wifi:before {
  content: "\e001";
}
.icon-zoom-in:before {
  content: "\e002";
}
.icon-zoom-out:before {
  content: "\e003";
}
.icon-expand:before {
  content: "\e004";
}
.icon-performance:before {
  content: "\e005";
}
.icon-filtros:before {
  content: "\e006";
}
.icon-emprendimiento:before {
  content: "\e007";
}
