@font-face {
  font-family: "tokkobroker";
  src:url("./fonts/tokko-icons/tokkobroker.eot");
  src:url("./fonts/tokko-icons/tokkobroker.eot") format("embedded-opentype"),
    url("./fonts/tokko-icons/tokkobroker.woff") format("woff"),
    url("./fonts/tokko-icons/tokkobroker.ttf") format("truetype"),
    url("./fonts/tokko-icons/tokkobroker.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tokkobroker' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acciones:before {
  content: "\e900";
}
.icon-aceptar:before {
  content: "\e901";
}
.icon-adicionales:before {
  content: "\e902";
}
.icon-adjuntar:before {
  content: "\e903";
}
.icon-admin:before {
  content: "\e904";
}
.icon-agente:before {
  content: "\e905";
}
.icon-agregar:before {
  content: "\e906";
}
.icon-aguacorriente:before {
  content: "\e907";
}
.icon-alertas:before {
  content: "\e908";
}
.icon-ambientes:before {
  content: "\e909";
}
.icon-analisiscontactos:before {
  content: "\e90a";
}
.icon-appexchange:before {
  content: "\e90b";
}
.icon-archivos:before {
  content: "\e90c";
}
.icon-atras:before {
  content: "\e90d";
}
.icon-bajada:before {
  content: "\e90e";
}
.icon-balconterraza:before {
  content: "\e90f";
}
.icon-banos:before {
  content: "\e910";
}
.icon-buscar:before {
  content: "\e911";
}
.icon-busquedareciente:before {
  content: "\e912";
}
.icon-calendario:before {
  content: "\e913";
}
.icon-camara:before {
  content: "\e914";
}
.icon-celular:before {
  content: "\e915";
}
.icon-cerrar:before {
  content: "\e916";
}
.icon-cerraroportunidad:before {
  content: "\e917";
}
.icon-check:before {
  content: "\e918";
}
.icon-cochera:before {
  content: "\e919";
}
.icon-colapsar:before {
  content: "\e91a";
}
.icon-comparar:before {
  content: "\e91b";
}
.icon-compartir:before {
  content: "\e91c";
}
.icon-comprar:before {
  content: "\e91d";
}
.icon-condicion:before {
  content: "\e91e";
}
.icon-configuracion:before {
  content: "\e91f";
}
.icon-consultas:before {
  content: "\e920";
}
.icon-contactos:before {
  content: "\e921";
}
.icon-contactoscreadosporetiqueta:before {
  content: "\e922";
}
.icon-copiar:before {
  content: "\e923";
}
.icon-cubierta:before {
  content: "\e924";
}
.icon-dashboard:before {
  content: "\e925";
}
.icon-denunciar:before {
  content: "\e926";
}
.icon-descargar:before {
  content: "\e927";
}
.icon-deshacer:before {
  content: "\e928";
}
.icon-deslinkear:before {
  content: "\e929";
}
.icon-destaque:before {
  content: "\e92a";
}
.icon-difusion:before {
  content: "\e92b";
}
.icon-disponibilidad:before {
  content: "\e92c";
}
.icon-disposicion:before {
  content: "\e92d";
}
.icon-doblecheck:before {
  content: "\e92e";
}
.icon-dormitorios:before {
  content: "\e92f";
}
.icon-dropdown:before {
  content: "\e930";
}
.icon-dudas:before {
  content: "\e931";
}
.icon-duplicados:before {
  content: "\e932";
}
.icon-editar:before {
  content: "\e933";
}
.icon-editarfichainfo:before {
  content: "\e934";
}
.icon-editarpropiedad:before {
  content: "\e935";
}
.icon-editarsitio:before {
  content: "\e936";
}
.icon-electricidad:before {
  content: "\e937";
}
.icon-eliminar:before {
  content: "\e938";
}
.icon-email:before {
  content: "\e939";
}
.icon-emialabierto:before {
  content: "\e93a";
}
.icon-emprendimientos:before {
  content: "\e93b";
}
.icon-empresa:before {
  content: "\e93c";
}
.icon-enviar:before {
  content: "\e93d";
}
.icon-error:before {
  content: "\e93e";
}
.icon-estadisticas:before {
  content: "\e93f";
}
.icon-etiquetas:before {
  content: "\e940";
}
.icon-eventodesconocido:before {
  content: "\e941";
}
.icon-excel:before {
  content: "\e942";
}
.icon-expand:before {
  content: "\e943";
}
.icon-expensas:before {
  content: "\e944";
}
.icon-exportar:before {
  content: "\e945";
}
.icon-facturacion:before {
  content: "\e946";
}
.icon-favoritos:before {
  content: "\e947";
}
.icon-favoritossolido:before {
  content: "\e948";
}
.icon-feedback:before {
  content: "\e949";
}
.icon-filtros:before {
  content: "\e94a";
}
.icon-gas:before {
  content: "\e94b";
}
.icon-gestordearchivos:before {
  content: "\e94c";
}
.icon-gimnasio:before {
  content: "\e94d";
}
.icon-grupodecontactos:before {
  content: "\e94e";
}
.icon-guardar:before {
  content: "\e94f";
}
.icon-habilitarportal:before {
  content: "\e950";
}
.icon-igcomentarios:before {
  content: "\e951";
}
.icon-igenviar:before {
  content: "\e952";
}
.icon-igguardar:before {
  content: "\e953";
}
.icon-igmegusta:before {
  content: "\e954";
}
.icon-imagenes:before {
  content: "\e955";
}
.icon-info:before {
  content: "\e956";
}
.icon-informacioninterna:before {
  content: "\e957";
}
.icon-ir:before {
  content: "\e958";
}
.icon-link:before {
  content: "\e959";
}
.icon-listadocontactos:before {
  content: "\e95a";
}
.icon-mapa:before {
  content: "\e95b";
}
.icon-menu:before {
  content: "\e95c";
}
.icon-mostrarmenos:before {
  content: "\e95d";
}
.icon-mover:before {
  content: "\e95e";
}
.icon-movimientosdepropiedades:before {
  content: "\e95f";
}
.icon-negativo:before {
  content: "\e960";
}
.icon-neutro:before {
  content: "\e961";
}
.icon-nota:before {
  content: "\e962";
}
.icon-noticias:before {
  content: "\e963";
}
.icon-notificaciones:before {
  content: "\e964";
}
.icon-novedades:before {
  content: "\e965";
}
.icon-nuevapropiedad:before {
  content: "\e966";
}
.icon-nuevocontacto:before {
  content: "\e967";
}
.icon-nuevoevento:before {
  content: "\e968";
}
.icon-nuevomensaje:before {
  content: "\e969";
}
.icon-ocultar:before {
  content: "\e96a";
}
.icon-oportunidades:before {
  content: "\e96b";
}
.icon-ordenar:before {
  content: "\e96c";
}
.icon-orientacion:before {
  content: "\e96d";
}
.icon-parrilla:before {
  content: "\e96e";
}
.icon-patronesdebusqueda:before {
  content: "\e96f";
}
.icon-pausarcontacto:before {
  content: "\e970";
}
.icon-pdf:before {
  content: "\e971";
}
.icon-pdfgrilla:before {
  content: "\e972";
}
.icon-pdfhorizontal:before {
  content: "\e973";
}
.icon-pdfvertical:before {
  content: "\e974";
}
.icon-pegar:before {
  content: "\e975";
}
.icon-perfil:before {
  content: "\e976";
}
.icon-performance:before {
  content: "\e977";
}
.icon-permisos:before {
  content: "\e978";
}
.icon-pileta:before {
  content: "\e979";
}
.icon-pinup:before {
  content: "\e97a";
}
.icon-plantas:before {
  content: "\e97b";
}
.icon-positivo:before {
  content: "\e97c";
}
.icon-propiedades:before {
  content: "\e97d";
}
.icon-propiedadessinmovimiento:before {
  content: "\e97e";
}
.icon-propietario:before {
  content: "\e97f";
}
.icon-quitardestaque:before {
  content: "\e980";
}
.icon-reasignar:before {
  content: "\e981";
}
.icon-redes:before {
  content: "\e982";
}
.icon-redflag:before {
  content: "\e983";
}
.icon-reloj:before {
  content: "\e984";
}
.icon-reportada:before {
  content: "\e985";
}
.icon-reportar:before {
  content: "\e986";
}
.icon-reporte-conversion:before {
  content: "\e987";
}
.icon-reporte-operaciones:before {
  content: "\e988";
}
.icon-reportes:before {
  content: "\e989";
}
.icon-reservas:before {
  content: "\e98a";
}
.icon-respuestasrapidas:before {
  content: "\e98b";
}
.icon-restaurar:before {
  content: "\e98c";
}
.icon-salir:before {
  content: "\e98d";
}
.icon-seguimiento:before {
  content: "\e98e";
}
.icon-seguimientos:before {
  content: "\e98f";
}
.icon-seguridad:before {
  content: "\e990";
}
.icon-selectall:before {
  content: "\e991";
}
.icon-semicubierta:before {
  content: "\e992";
}
.icon-siguiente:before {
  content: "\e993";
}
.icon-silenciar:before {
  content: "\e994";
}
.icon-sitioweb:before {
  content: "\e995";
}
.icon-solarium:before {
  content: "\e996";
}
.icon-subida:before {
  content: "\e997";
}
.icon-superficie:before {
  content: "\e998";
}
.icon-tabla:before {
  content: "\e999";
}
.icon-telefono:before {
  content: "\e99a";
}
.icon-terreno:before {
  content: "\e99b";
}
.icon-timeline:before {
  content: "\e99c";
}
.icon-toilletes:before {
  content: "\e99d";
}
.icon-tokkotip:before {
  content: "\e99e";
}
.icon-totalconstruido:before {
  content: "\e99f";
}
.icon-trespunticos:before {
  content: "\e9a0";
}
.icon-ubicacion:before {
  content: "\e9a1";
}
.icon-vendio:before {
  content: "\e9a2";
}
.icon-ver:before {
  content: "\e9a3";
}
.icon-video:before {
  content: "\e9a4";
}
.icon-whatsapp:before {
  content: "\e9a5";
}
.icon-wifi:before {
  content: "\e9a6";
}
.icon-zonificacion:before {
  content: "\e9a7";
}
.icon-zoom-in:before {
  content: "\e9a8";
}
.icon-zoom-out:before {
  content: "\e9a9";
}
