:root {
  --gap-between-images: 16px;
}

.gridImagePickerContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.gridImagePicker {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-between-images);
  max-width: 540px;
  min-width: unset !important;
  width: 100%;
}

.gridButtonsWrapper {
  align-items: center;
  display: flex;
  gap: 8px;
}

.gridButton {
  background-color: #FFF;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  outline: none;
  padding: 8px 12px;
  transition:
    background-color 100ms linear,
    border-color 100ms linear,
    color 100ms linear,
    filter 100ms linear
  ;
}

.gridButtonSelect {
  border-color: #1A4958;
  color: #1A4958;
}

.gridButtonSelect:hover:not(:disabled),
.gridButtonSelect:active {
  background-color: #1A4958;
  color: white;
}

.gridButtonSelect:focus {
  border-color: #1B90D2;
  color: #1A4958;
}

.gridButtonSelect:disabled {
  border-color: #EAEEF1;
  color: #94A2AB;
  cursor: default;
}

.gridButtonDeselect {
  color: #2E393F;
}

.gridButtonDeselect:hover:not(:disabled) {
  background-color: #EAEEF1;
  color: #2E393F;
}

.gridButtonDeselect:focus-visible:not(:disabled) {
  background-color: #F3F6F8;
  border-color: #1B90D2;
  color: #2E393F;
}

.gridButtonDeselect:disabled {
  background-color: #EAEEF1;
  color: #94A2AB;
  cursor: default;
}