.imageItemWrapper {
  align-items: center;
  background-color: #EAEEF1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  height: 120px;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 120px;
}

.imageItemWrapper * {
  pointer-events: none;
}

.imageItemWrapper[data-dragging="true"] {
  cursor: grabbing;
}
