.imageItemWrapper {
  align-items: center;
  background-color: #BBBBBB;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  height: 90px;
  justify-content: center;
  padding: 0;
  position: relative;
  transition: outline-color 100ms linear;
  width: 90px;
}

.imageItemWrapper::after {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: inherit;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 100ms linear;
  width: 100%;
}

.imageItemWrapper[data-disabled="true"]::after {
  opacity: 1;
}

.imageItemWrapper[data-dragging="true"] {
  cursor: grabbing;
}

.imageItemAspectRatioTooltip {
  background-color: #1D2327;
  border-radius: 4px;
  color: #FFFFFF;
  display: none;
  font-family: "Nunito Sans";
  font-size: 12px;
  left: 50%;
  line-height: 16px;
  max-width: 240px;
  padding: 4px 8px;
  position: absolute;
  text-align: left;
  top: 0;
  transform: translate(-50%, -85%);
  width: max-content;
  z-index: 1;
}

.imageItemWrapper[data-error="true"][data-dragging="false"]:hover .imageItemAspectRatioTooltip {
  display: flex;
}

.imageItemCount {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  color: transparent;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  height: 24px;
  justify-content: center;
  left: 6px;
  line-height: 16px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 6px;
  width: 24px;
}

.imageItemCount[data-visible="true"] {
  color: #1D2327;
  opacity: 1;
}

.imageItemCheckboxWrapper {
  align-items: center;
  background-color: #FFF;
  border-radius: 3px;
  display: flex;
  height: 16px;
  justify-content: center;
  width: 16px;
}

.imageItemCheckbox {
  align-items: center;
  background-color: #FFF;
  border: 1px solid #C2CCD3;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #FFF;
  display: flex;
  height: 18px;
  justify-content: center;
  opacity: 0;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  right: 6px;
  top: 6px;
  transition: background-color 100ms linear;
  width: 18px;
}

.imageItemCheckbox[data-active="true"] {
  background-color: #1B90D2;
  border-color: #1B90D2;
}

.imageItemCheckbox[data-visible="true"] {
  opacity: 1;
}

.imageItemError {
  align-items: center;
  background-color: #DF1517;
  border-radius: 8px;
  display: flex;
  height: 24px;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: opacity 150ms ease-in;
  width: 24px;
}

.imageItemError[data-visible="true"] {
  opacity: 1;
}

.imageItemCover {
  align-items: flex-end;
  background-color: transparent;
  border: 2px solid #1A4958;
  border-radius: 9px;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 100ms linear;
  width: 100%;
}

.imageItemCover[data-visible="true"] {
  opacity: 1;
}

.imageItemCoverText {
  background-color: #1A4958;
  border-radius: 0 0 6px 6px;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  line-height: 16px;
  padding: 3px 0 5px;
  width: 100%;
}

.imageItemIconCheck {
  font-size: 14px;
  color: #FFFFFF;
  min-width: unset!important;
}

.imageItemIconError {
  font-size: 20px;
  color: #FFFFFF;
  min-width: unset!important;
}
