.fullscreen {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 40px;
  gap: 24px;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease-in-out;
  visibility: hidden;
}

.fsOverlay {
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}

.fullscreen.openFullscreen {
  z-index: 1000;
  opacity: 1;
  visibility: visible;
}

.fsTabHeader {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  gap: 20px;
}

.fsTabHeader p {
  cursor: pointer;
  color: var(--neutralGray2);
  padding: 8px 16px;
  border-bottom: 1px solid var(--neutralGray5);
  line-height: 8px;
}

.fsTabHeader p:hover {
  color: var(--neutralGray1);
  border-color: var(--neutralGray1);;
}

.fsTabHeader p.tabSelected {
  color: var(--primary);
  border-color: var(--primary);
}

.fsContainerTabs {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fsTabCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.fsContainerTabs i {
  color: #fff;
  cursor: pointer;
}

.fsTabContImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  gap: 24px;
}

.fsTabContImage img {
  max-width: 95%;
  max-height: 95%;
  height: auto;
}

.fsTabContImage p {
  color: #fff;
  position: absolute;
  bottom: 50px;
}

.fsCloseIcon {
  position: absolute;
  color: #fff;
  right: 156px;
  top: 55px;
  cursor: pointer;
}
