on:
  push:
    branches:
      - master

jobs:
  build-and-publish:
    name: Build Jopi & Publish New Version in NPM & Publish New Version on GitHubPage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GIT_TOKEN }}
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Configure git credentials
        uses: OleksiyRudenko/gha-git-credentials@v1
        with:
          token: ${{ secrets.GIT_TOKEN }}

      - name: Installing node
        uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: 'https://registry.npmjs.org'

      - name: Installing npm
        run: |
          npm install
          npm install --global lerna

      - name: Installing yarn
        run: yarn install

      - name: Run tests
        run: yarn test

      - name: Run coverage
        run: yarn jest --coverage

      - name: Build Jopi
        run: yarn build

      - name: Set Git config
        run: |
          git config --global user.email "${{secrets.GIT_EMAIL}}"
          git config --global user.name "${{secrets.GIT_USER}}"

      - name: Update lerna packages
        env:
          GH_TOKEN: ${{secrets.GIT_TOKEN}}
        run: |
          cd node_modules/.bin
          lerna version patch --yes

      - name: Publish New Jopi version to NPM
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          GH_TOKEN: ${{secrets.GIT_TOKEN}}
        run: lerna publish from-package -y --no-verify-access

      #- name: Publish New Jopi version to GitHubPage
      #  uses: JamesIves/github-pages-deploy-action@3.5.9
      #  with:
      #    GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      #    BRANCH: gh-pages # The branch the action should deploy to.
      #    FOLDER: jopi.js # The folder the action should deploy.

  merge-me:
    name: Merge to master
    needs:
      - build-and-publish
    runs-on: ubuntu-latest
    steps:
      - name: Merge me!
        uses: ridedott/merge-me-action@master
        with:
          # This must be used as GitHub Actions token does not support
          # pushing to protected branches.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
